In [4]:
set1 = {'1', "s", 'a', "a"}
set2 = {"a", 'a', 1, 2, 3}
union = set1.union(set2)
print(union)

{1, 2, 3, 'a', 's', '1'}

In [5]:
intersection = set1.intersection(set2)
print(intersection)

{'a'}

In [6]:
difference = set1.difference(set2)
print(difference)

{'s', '1'}

In [7]:
subset = set1.issubset(set2)
print(subset)

False

In [9]:
'a' in set1

True

In [10]:
print(len(set1))

3

In [11]:
list1 = [1,2,3,'s', True]
print(set(list1))

{'s', 1, 2, 3}

In [14]:
set1.remove('a')
print(set1)

{'s'}

In [16]:
set1.clear()
set1

set()

In [17]:
set1 == set()

True

In [18]:
set1.symmetric_difference(set2)

{1, 2, 3, 'a'}

In [22]:
set1.add(1)
set1

{1}

In [23]:
set1.pop()
set1

set()

In [26]:

set3 = {1,2,4,4,5}
print(max(set3))

5

In [27]:
min(set3)

1

In [28]:
even = [number for number in set3 if number % 2 == 0]
print(even)

[2, 4]

In [30]:
odd = [number for number in set3 if number % 2 != 0]
print(odd)

[1, 5]

In [32]:
set4 = set(range(1,14))
set4

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [35]:
set(set3.union(set4))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [36]:
set1.isdisjoint(set2)

True

In [37]:
list(set(list1))

['s', 1, 2, 3]

In [38]:
len(set(list1))

4

In [41]:
import random
set41 = {random.randint(1, 100) for _ in range(27)}
print(set41)

{4, 16, 32, 34, 37, 40, 41, 46, 47, 50, 61, 68, 77, 79, 80, 83, 84, 85, 87, 90, 91, 92, 99, 100}