1st

In [1]:
a = ["i", "f", "g", "g", 4, 4,6]

2

2nd

In [ ]:
b =[1,2,3,4,5,6,6]
print(sum(a))

3rd

In [22]:
print(max(b))

6

4th

In [23]:
print(min(b))

1

5th

In [24]:
6 in b

True

6th

In [25]:
b[0]

1

7th

In [26]:
b[-1]

6

8th

In [28]:
sub_b = b[:3]
print(sub_b)

[1, 2, 3]

9th

In [37]:
b.reverse()

In [38]:
b

[6, 6, 5, 4, 3, 2, 1]

10th

In [42]:
new_list = ['a', 'z', 's', 'd','d']
sorted(new_list)

['a', 'd', 's', 'z']

11th

In [43]:
set(new_list)

{'a', 'd', 's', 'z'}

12th

In [67]:
new_list1 = [1, 4, 5, 5]
new_list1.insert(1,3)
print(new_list1)

[1, 3, 4, 5, 5]

13th

In [68]:
new_list1.index(4)

2

14th

In [69]:
new_list1 == list()

False

15th

In [72]:
even = len([number for number in new_list1 if number % 2 == 0])
print(even)

1

16th

In [73]:
odd = len([number for number in new_list1 if number % 2 != 0])
print(odd)

4

17th

In [74]:
print(new_list + new_list1)

['a', 3, 3, 'z', 's', 'a', 'a', 2, 2, 'd', 1, 3, 4, 5, 5]

18th

In [90]:
a_list = [1,2,3,4]
a_sub_list = [1,2]
def question(a_list, a_sub_list):
    return str(a_sub_list)[1:-1] in str(a_list)[1:-1]

print(question([1, 2, 3, 4, 5, 6, 7, 7], [1,2]))

True

19th

In [91]:
a_list[a_list.index(4)] = 47
print(a_list)

[1, 2, 3, 47]

20th

In [93]:
second_largest = sorted(set(a_list))[-2]
print(second_largest)

3

21st

In [94]:
second_smallest = sorted(set(a_list))[1]
print(second_smallest)

2

22nd

In [96]:
even = [number for number in a_list if number % 2 == 0]
print(even)

[2]

23rd

In [98]:
odd = [number for number in a_list if number % 2 != 0]
print(odd)

[1, 3, 47]

24th

In [99]:
len(a_list)

4

25th

In [104]:
copy = a_list.copy()
print(copy)

[1, 2, 3, 47]

26th

In [105]:
middle = a_list[len(a_list)//2] if len(a_list) % 2 != 0 else a_list[len(a_list)//2-1:len(a_list)//2+1]
print(middle)

[2, 3]

27th

In [106]:
min(a_sub_list)

1

28th

In [107]:
max(a_sub_list)

2

29th

In [111]:
a_list.remove(a_list.index(47))
print(a_list)

[1, 47]

3oth

In [113]:
a_list == sorted(a_list)

True

31st

In [115]:
repeated = [num for num in a_list for _ in range(3)]
print(repeated)

[1, 1, 1, 47, 47, 47]

32nd

In [117]:
list11 = [34,5,3,6,6]
list12 = [75,36,25,3,5]
merged = sorted(list11 + list12)
print(merged)

[3, 3, 5, 5, 6, 6, 25, 34, 36, 75]

33rd

In [120]:
list13 = [1, 2, 3, 2, 4]
indices = [i for i, x in enumerate(list13) if x == 2]
print(indices)

[1, 3]

34th

In [122]:
list13
rotated = list13[-5:] + list13[:-5]
print(rotated)

[1, 2, 3, 2, 4]

35th

In [126]:
list29 = list(range(29, 41))
print(list29)

[29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]

36th

In [127]:
calculate_sum_P = sum(num for num in list29 if num > 0)
print(calculate_sum_P)

TypeError: 'int' object is not callable

37th

In [ ]:
calculate_sum_N = sum(num for num in list29 if num < 0)
print(calculate_sum_P)

38th

In [128]:
list29 == list29[::-1]

False

39th

In [130]:
nested_list = [list29[n:n+6] for n in range(0, len(list29), 6)]
print(nested_list)

[[29, 30, 31, 32, 33, 34], [35, 36, 37, 38, 39, 40]]

40th

In [134]:
list = []
[list.append(x) for x in list29 if x not in list]
print(list)

[29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]