1st

In [7]:
tuple1 = (1,2,3,4,5,6)
counting = tuple1.count(1)
print(counting)

1

2nd

In [9]:
print(max(tuple1))

6

3rd

In [10]:
print(min(tuple1))

1

4th

In [11]:
3546 in tuple1

False

5th

In [12]:
tuple1[0]

1

6th

In [13]:
tuple1[-1]

6

7th

In [14]:
print(len(tuple1))

6

8th

In [44]:
tuple1[:3]

(1, 2, 3)

9th

In [43]:
tuple2 = (43,64,34,7)
tuple1+tuple2

(1, 2, 3, 4, 5, 6, 43, 64, 34, 7)

10th

In [28]:
tuple1 == tuple()

False

11th

In [69]:
indices = [i for i, val in enumerate(tuple1) if val == 1]
indices

[0]

12th

In [41]:
sorted(set(tuple1))[-2]

5

13th

In [42]:
  
sorted(set(tuple1))[1]

2

14th

In [46]:
tuple11 = (1,)

15th

In [47]:
list1 = [1,2,34,5,'e']
tuple(list1)

(1, 2, 34, 5, 'e')

16th

In [48]:
tuple1 == sorted(tuple1)

False

17th

In [49]:
subtuple = (1,3,4,5,5)
max(subtuple)

5

18th

In [50]:
min(subtuple)

1

20th

In [52]:
tuple2 = ((13,34), (34, 34), (24, 4))

22nd

In [59]:
tuple3 = tuple(range(1,21))
tuple3

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

23rd

In [63]:
tuple1[::-1]
tuple1

(1, 2, 3, 4, 5, 6)

24th

In [64]:
tuple1 == tuple1[::-1]

False

25th

In [70]:
unique = tuple(dict.fromkeys(tuple1))
unique

(1, 2, 3, 4, 5, 6)